// Is this working?
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
	height: 100%;
}
// Set fonts and container size
h1, h2, h3, h4, h5, h6 {
	font-family: 'Amita', cursive;
	font-size: 2.4rem;
}
p, li {
	font-family: 'Solway', serif;
	font-size: 1.8rem;
}
html {
	font-size: 62.5%;
	
}
.container{
	width: 80%;
	margin: 0 auto;
}
// Begin styling
.flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}
header {//begin header styling
	
	border: solid;
	height: 10vh;
	nav {//begin nav style
		display: flex;
		justify-content: space-evenly;
		a {//begin link stlye
			width: 22%;
			text-decoration: none;
			font-size: 1.6rem;
			margin-top: 3%;
		}//end link stlye
	}//end nav style
}//end header styling
.intro { //begin intro section style
	display: flex;
	justify-content: space-between;
	img {
		width: 40%;
	}	
	.intro-div {
		border: solid;
		width: 40%;
	}	
}//end intro section stlye
.skills {//beginning of skills styles
	h2 {
		text-align: center;
		padding: 3% 0;
	}
}//end of skills styles